<a href="{{ path('add3_student') }}">+ADD</a>
<br/>
{% for s in tabStudent %}
numero carte etudient : {{s.id}}
username : {{s.username}}
moyenne : {{s.moyenne}}
<a href="#">UPDATE</a>
<a href="{{ path('remove',{'id':s.id}) }}">DELETE</a>
<br/>
{% endfor %}